/* POTATO CUSTOM STYLE */


body {
    margin: 0 !important;
    /* zoom: 1.224; /\* highly scientific ratio between freedom and bullshit *\/ */
    zoom: 0.7;
}

#sbo-rt-content {
    margin-left: auto;
    margin-right: auto;
    width: 648px;
}

/* Cover image */
img[width="864"], img[width="681"] {
    filter: none;
    scale: 1.25 !important;
    top: 100px;
    position: relative;
}

/* All text next to cover image */
img[width="864"] ~ div, img[width="681"] ~ div {
    filter: none;
}

/* .pdf-page div[class*=' ff'] { */
/*     filter: none; */
/* } */

/* .pdf-page ~ .pdf-page div[class*=' ff'] { */
/*     filter: invert(90%) hue-rotate(180deg) contrast(150%) saturate(150%); */
/* } */

div[class^='ff'], div[class*=' ff'] {
    filter: invert(90%) hue-rotate(180deg) contrast(150%) saturate(150%);
}

@media (max-width: 768px) {
    #book-content #sbo-rt-content {
        width: 648px; /* overwrites vendor */
    }
    #book-content #sbo-rt-content .cover {
        width: 85%;
    }
    #book-content #sbo-rt-content .cover img,
    #book-content #sbo-rt-content img {
        object-fit: contain;
    }
}

#book-content #sbo-rt-content div, #book-content #sbo-rt-content figure, #book-content #sbo-rt-content .figure, #book-content #sbo-rt-content code, #book-content #sbo-rt-content dir, #book-content #sbo-rt-content figcaption, #book-content #sbo-rt-content dl, #book-content #sbo-rt-content dt, #book-content #sbo-rt-content dd, #book-content #sbo-rt-content ul, #book-content #sbo-rt-content ol, #book-content #sbo-rt-content li #book-content #sbo-rt-content h1, #book-content #sbo-rt-content h2, #book-content #sbo-rt-content h3, #book-content #sbo-rt-content h4, #book-content #sbo-rt-content h5, #book-content #sbo-rt-content h6, #book-content #sbo-rt-content pre, #book-content #sbo-rt-content form, #book-content #sbo-rt-content fieldset, #book-content #sbo-rt-content menu, #book-content #sbo-rt-content input, #book-content #sbo-rt-content textarea, #book-content #sbo-rt-content p, #book-content #sbo-rt-content blockquote, #book-content #sbo-rt-content th, #book-content #sbo-rt-content td {
    line-height: inherit; /* fixes great many issues */
}

/* #book-content #sbo-rt-content code, #book-content #sbo-rt-content code code, #book-content #sbo-rt-content .codeLabel { */
/*     background-color: #88888822; */
/*     border-radius: 0.2em; */
/*     padding: 0.2em */
/* } */

#book-content {
    background-color: black !important;
    color: white !important;
}

img {
    filter: invert(100%) hue-rotate(180deg); /* the image filter is more primitive than the text filter */
}

.author {
    text-align: center !important;
}

.mediaobject {
    text-align: center;
    height: 200%;
}

.table-contents {
    width: fit-content;
}

.table-contents > table {
    border-radius: 1em;
    /* font-size: 60% !important; */
}

/* Side NOTE */
#book-content #sbo-rt-content div.tip,
#book-content #sbo-rt-content .tip,
#book-content #sbo-rt-content div[data-type="tip"],
#book-content #sbo-rt-content .note,
#book-content #sbo-rt-content div.note,
#book-content #sbo-rt-content div[data-type="note"],
#book-content #sbo-rt-content .warning,
#book-content #sbo-rt-content div[data-type="warning"],
#book-content #sbo-rt-content div[data-type="caution"],
#book-content #sbo-rt-content .note1,
#book-content #sbo-rt-content .sidebar1,
#book-content #sbo-rt-content .boxg,
#book-content #sbo-rt-content div.sidebar,
#book-content #sbo-rt-content div[data-type="sidebar"],
#book-content #sbo-rt-content div.warning,
#book-content #sbo-rt-content .footnotes,
#book-content #sbo-rt-content div[data-type="footnotes"],
#book-content #sbo-rt-content .footnote,
#book-content #sbo-rt-content aside {
    background-color: transparent;
  border: none;
  border-top: 0px;
  border-bottom: 0px;
  padding: 0 !important;
  margin: 0 0 !important;
  border-radius: 0;
}

/* Horizontal line before sidenote */
#book-content #sbo-rt-content hr,
#book-content #sbo-rt-content .small {
    font-size: 0.6em;
    width: 12em;
    display: inline-block;
}
